// COLOR VARIABLES
$color-primary: #3e7fff;
$color-primary-dark: #3f78e9;

$color-secondary: #142838;
$color-secondary-light: #1f3f5a;
$color-tertiary: #108054;

$color-supporting: #305a7c;
$color-supporting-light: #40739c;
$color-supporting-light-2: #4381b3;

$color-green: #00a84b;
$color-red: #a80032;
$color-gold: #fec951;


$color-white: #fff;
$color-black: #1e1e1e;

$color-charcoal: #2b2b2b;

$color-grey-light-1: #f8f8f8;
$color-grey-light-1a: #e6e6e6;
$color-grey-light-2: #c2c6c9;

$color-beige-1: #f8f7f5;
$color-beige-2: #f6f4f0;

$color-grey-1: #9ea0a4;
$color-grey-2: #919598;
$color-grey-3: #747474;

$color-blue-grey-1: #838f94;


$bg-gradient: linear-gradient(151deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);


// FONT VARIABLES
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Old Standard TT', serif;
$font-tertiary: 'Montserrat', sans-serif;

$shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
$shadow-medium: 0 2rem 6rem rgba(0,0,0,.2);
$shadow-medium-short: 0 2rem 3rem rgba(0,0,0,.2);

$shadow-light: 0 2rem 5rem rgba(0,0,0,.13);
$shadow-bottom: 0 2rem 5rem -4rem rgba(0,0,0,.3);

$shadow-dark-bottom: 0 3rem 3rem -1rem rgba(0,0,0,.25);


//RESPONSIVE BREAKPOINTS (use em unit)
$bp-largest: 75em; // 1200px / 8px text
$bp-large: 62.5em; // 1000px 
$bp-medium: 50em; // 800px 
$bp-small: 37.5em; // 600px 


//GRID TEMPLATES
$page-container: [full-start] minmax(6rem, 1fr) [center-start] repeat(
    8,
    [col-start] minmax(min-content, 14rem) [col-end] 
  ) [center-end] minmax(6rem, 1fr) [full-end]; 

  
//   @media only screen and (max-width: $bp-small) {
//     $page-container: 1fr  min-content  1fr;
// }