// COLOR VARIABLES
$color-primary: #3e7fff;
$color-primary-dark: #3f78e9;

$color-secondary: #142838;
$color-secondary-light: #1f3f5a;

$color-tertiary: #00a84b;

$color-white: #fff;
$color-black: #1e1e1e;

$color-charcoal: #2b2b2b;

$color-grey-light-1: #f8f8f8;
$color-grey-light-2: #c2c6c9;


$color-grey-1: #9ea0a4;
$color-grey-2: #919598;

// FONT VARIABLES
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Lora', serif;
$font-tertiary: 'Montserrat', sans-serif;

$shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
$shadow-light: 0 2rem 5rem rgba(0,0,0,.13);
$shadow-bottom: 0 2rem 5rem -4rem rgba(0,0,0,1);


//RESPONSIVE BREAKPOINTS (use em unit)
$bp-largest: 75em; // 1200px / 8px text
$bp-large: 62.5em; // 1000px 
$bp-medium: 50em; // 800px 
$bp-small: 37.5em; // 600px 


//GRID TEMPLATES
$page-container: [full-start] minmax(6rem, 1fr) [center-start] repeat(
    8,
    [col-start] minmax(min-content, 14rem) [col-end] 
  ) [center-end] minmax(6rem, 1fr) [full-end]; 