.custom-select {
    position: relative;
    font-family: $font-primary;
    font-size: 1.6rem;
    letter-spacing: .1rem;

    & select {
        display: none; /*hide original SELECT element: */
    }
}

.select-selected {
    background-color: $color-white;
    color: $color-secondary; 

    /* Style the arrow inside the select element: */
    &:after {
        position: absolute;
        content: "";
        top: 2rem;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: $color-grey-1 transparent transparent transparent;
    }

    /* Point the arrow upwards when the select box is open (active): */

    &.select-arrow-active:after {
        border-color: transparent transparent $color-grey-1 transparent;
        top: 7px;
    }
}


/* style the items (options), including the selected item: */
.select-selected {
    font-family: $font-primary;
    color: $color-secondary; 
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: $color-grey-light-2;
    border-radius: 4px;
    cursor: pointer;
}

.select-items div{
    font-family: $font-primary;
    color: $color-secondary; 
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}



/* Style items (options): */
.select-items {
    position: absolute;
    background-color: $color-white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
