.tab-content {
    display: none;

}

.tab-content.current {
    display: inherit;
    
}


.tab-content-nested {
    display: none !important;

}

.tab-content-nested.current {
    display: grid !important;

}



 
 