.product-itineraries {
    display: grid;
    grid-template-columns: $page-container;

    grid-template-rows: minmax(35vh, min-content) ;
    position: relative;

    &::after { //intro background
        content: "";
        background-color: $color-grey-light-1;
        height: 100%;
        width: 100%;
        grid-column: full-start / full-end;
        grid-row: 1 / span 1;
        z-index: -10;
    }


    &__intro {
        grid-column: center-start / center-end;
        grid-row: 1 / span 1;
        width: 50%;     
        margin-top: 2rem;
        display: grid;

        padding-right: 5rem;

        display: grid;
        grid-template-rows: min-content min-content 1fr;

        row-gap: 2rem;

        &__info {
            grid-row: 1 / span 1;
            grid-column: 1 / span 2;
            &__starting-price   {
                letter-spacing: .1rem;
                color: $color-secondary;
                font-size: 3rem;
                span {
                    color: royalblue;
                    padding-left: 1rem;
                }
            }

            &__length {
                color: $color-secondary;
                font-size: 1.8rem;
                span {
                    color: $color-grey-2;
                    padding-left: 1rem;
                }
                padding-bottom: 2rem;
                border-bottom: 1px solid $color-grey-light-2;
            }

            
        }

        &__cta {
            grid-row: 1 / span 1; 
            grid-column: 2 / span 1;
            justify-self: end;
            align-self: center;
        
        }

        &__caption {
            grid-row: 2 / span 1;
            grid-column: 1 / span 2;
        }



        &__nav {
            grid-row: 3 / span 1;
            grid-column: 1 / span 2;
            justify-self: start;
            align-self: end;
            &__list {
                list-style: none;
                display: grid;
                grid-auto-flow: column;
                margin-bottom: 1.5rem;
                column-gap: 4.5rem;

                & .current {
                    color: $color-secondary;
                    font-size: 2.5rem;
                }
            }

            &__item{
                font-size: 1.4rem;
                font-weight: 500;
                position: relative;
                cursor: pointer;
                display: block;
                //font-family: $font-tertiary;
                align-self: end;
                transition: all .3s;
                //border-right: 2px solid red;
                
                &:not(:first-child)::after{
                    content: "";
                    width: 1px;
                    height: 2rem;
                    background-color: $color-grey-light-2;
                    //justify-self: end;
                    position: absolute;
                    left: -50%;
                    bottom: 0;
                    z-index: 3;
                }
                &:hover {
                    color: $color-secondary;
                }
            }
        }
    }

    &__itinerary {
        grid-column: full-start / full-end;

        display: grid;
        grid-template-columns: $page-container;

        grid-template-rows: min-content min-content;
        margin-top: 2rem;
        &__intro {
            grid-column: center-start / col-end 4;
            grid-row: 1 / span 1;
            

            &__header {
               margin-bottom: 3rem;
               font-weight: 500;
               font-size: 2.5rem;
                &::after {
                    content: "";
                    height: 2px;
                    width: 12rem;
                    display: block;
                    background-color: $color-grey-light-2;
                    margin: 1.5rem 0;
                    z-index: 9;
                  }
            }
        }

        &__map {
            //background-color: seagreen;
            grid-column: col-start 5 / center-end;
            grid-row: 1 / span 1;
            justify-self: center; 
            img {
            height: 30rem; 
            object-fit: cover;
            margin-top: 2rem;
                      
        }
        }

        &__d2d {
            //background-color: aqua;
            grid-column: center-start / col-end 4;
            grid-row: 2 / span 1;
        }

        &__detail {
            //background-color: brown;
            grid-column: col-start 5 / center-end;
            grid-row: 2 / span 1;
        }

    }

    &__day {
        grid-column: center-start / center-end;
        display: grid;
        grid-template-columns: 9rem 1fr;
        grid-template-rows: min-content min-content;
        column-gap: 3rem;
        padding-bottom: 5rem;

        &--first {
            margin-top: 9rem;
        }



        &::after {
            content: "";

            grid-row: 2 / span 1;
            grid-column: 1 / span 1;
            height: calc(100% + 5rem);
            width: 1px;
            background-color: $color-secondary;
            justify-self: center;
        }
        &__number {
            grid-column: 1 / span 1;
            grid-template-rows: 1 / span 1;
            align-self: center;
            justify-self: center;

            display: flex;
            justify-content: center;
            align-items: center;
            //line-height: 2;
            //background-color: $color-primary;
            color: $color-secondary;
            font-family: $font-secondary;
            font-size: 2rem;
            font-weight: 500;
            height: 6rem;
            width: 6rem;
            border-radius: 50%;
            border: 1px solid $color-secondary;
        }

        &__title {
            grid-column: 2 / span 1;
            grid-row: 1 / span 1;
            align-self: center;
            margin-bottom: 0;
        }

        &__text {
            grid-column: 2 / span 1;
            grid-row: 2 / span 1;

            font-size: 1.6rem;
        }
    }
}
