.product-prices {
    display: grid;
    grid-template-columns: $page-container;
    grid-template-rows: minmax(35vh, min-content);
    position: relative;

    &::after {
        //intro background

        content: "";
        background-color: $color-grey-light-1;
        height: 100%;
        width: 100%;
        grid-column: full-start / full-end;
        grid-row: 1 / span 1;
        z-index: -10;
    }

    &__intro {
        grid-column: center-start / center-end;
        grid-row: 1 / span 1;
        width: 50%;
        padding: 3rem 0;
    }

 
    &__price-group {
        grid-column: full-start / full-end;

        display: grid;
        grid-template-columns: $page-container;
        grid-template-rows: repeat(2, min-content);

        &__name {
            grid-column: center-start / center-end;
            grid-row: 1 / span 1;
        }

        &__card-group {
            grid-column: center-start / center-end;
            grid-row: 2 / span 1;

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
            column-gap: 6rem;
            row-gap: 6rem;
            margin: 6rem 0;

            &__card {
                background-color: $color-white;
                width: 100%;
                position: relative;
                border: 10px solid transparent;
                box-shadow: inset 0px 0px 0px 2px rgba($color-secondary, 0.2), $shadow-light;
                box-sizing: border-box; /* Include padding and border in element's width and height */
                padding: 1rem 2rem;

                display: grid;
                grid-template-rows: min-content min-content;

                &__year {
                    justify-self: center;
                    font-size: 3rem;
                    padding: 1rem;
                    letter-spacing: .2rem;
                }
                &__season {
                    justify-self: center;
                    font-size: 1.4rem;
                    font-family: $font-secondary;
                    letter-spacing: 0.2rem;
                    padding-top: 1rem;
                    padding-bottom: 3rem;
                    font-weight: 300;
                    color: $color-grey-1;
                    width: 60%;

                    display: grid;
                    grid-template-columns: 1fr max-content 1fr;
                    align-items: center;
                    column-gap: 15px;


                    //lines on both sides effect
                    &::before {
                        content: "";
                        height: 1px;
                        display: block;
                        background-color: $color-grey-light-1a;
                    }
                    
                    &::after {
                        content: "";
                        height: 1px;
                        display: block;
                        background-color: $color-grey-light-1a;
                    }

                   
                }

                &__cabin-list {
                    display: grid;
                    justify-items: center;
                    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

                    &__item {
                        margin-bottom: 3rem;
                        font-size: 1.5rem;

                        &__cabin {
                            display: flex;
                            justify-content: center;
                            text-align: center;
                            color: $color-secondary;
                            font-weight: 500;
                            position: relative;
                            margin-bottom: 1rem;
                            display: inline-block;
                            &::after {
                                content: "";
                                height: 1px;
                                width: 100%;
                                background-color: $color-grey-light-1a;
                                position: absolute;
                                bottom: -0.5rem;
                                left: 0;
                            }
                        }

                        &__prices {
                            display: flex;
                            align-items: center;
                            flex-direction: column;

                            .single-info {
                                display: block;
                                font-size: 1.2rem;
                                font-style: italic;
                            }
                        }
                    }
                }
            }
        }
    }
}
