// .product-content {
//     grid-row: content-start / span 1;
//     grid-column: center-start / 6;
//     //min-height: 60vh;
//     //background-color: aqua;
//     //padding-top: 5rem;
//     padding-right: 12rem;
//     z-index: 3;

// }

.product-content-background {
    grid-row: content-start / span 1;
    grid-column: full-start / -1;
    height: 100%;
    width: 100%;
    background-color: $color-grey-light-1;
    //background-image: url(/img/bg/background-bamboo.jpg);
    //border-bottom: 1px solid $color-grey-light-2;
}


.product-content-2 {
    height: 50vh;
    grid-column: center-start / center-end;

    display: grid;
    align-items: center;
    grid-template-columns: 40rem 1fr;
    column-gap: 6rem;
    position: relative;

    &__text {
        grid-column: 2 / span 1;
    }

    &__img {
        height: 40rem; 
        //width: 60rem;
        object-fit: contain;
        justify-self: end;

        grid-column: 1 / span 1;
    }
}


