
.product-reviews {
    grid-column: full-start / -1;

}


.reviews-slider  {
  max-width: 114rem; //media query
  margin: 0 auto;
  position: relative;

  &__item {
  
    .slick-slide {
      margin: 8rem 8rem;
      margin-top: 2rem;
    }

    display: grid !important;
    grid-template-columns: repeat(2, minmax(30rem, 1fr));
    grid-auto-flow: row;
  
    &__content {
      
      padding: 4rem 8rem;
      font-size: 1.6rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      background-color: rgba($color-white, $alpha: 1);
  
      &__quote {
        position: absolute;
        height: 5rem;
        width: 5rem;
        top: 15rem;
        left: 5rem;
        fill: $color-grey-light-1a;
      }
  
      &__text {
        line-height: 3rem;
        font-style: italic;
        margin-bottom: 1.5rem !important;
      }
  
      &__date {
       
        font-weight: 600;
        color: $color-secondary;
      }
  
      &__profile {
        margin-top: 4rem;
        display: grid;
        grid-template-columns: min-content 1fr;
        column-gap: 2rem;
        align-items: center;
  
        &__img {
          height: 8rem;
          width: 8rem;
          border-radius: 50%;
          box-shadow: $shadow-light;
        }
        &__name {
          font-weight: 600;
          color: $color-secondary;
        }
  
        &__location {
          font-size: 1.4rem;
  
  
        }
  
      }
    }
  
    &__image {
      object-fit: cover;
      //width: 90%;
      height: 55rem;
      box-shadow: $shadow-medium;
      margin: 8rem auto;
    }
  }

  &__btn-left {
    position: absolute;
    z-index: 10;
    bottom: 10rem;
    left: 8rem;
  }

  &__btn-right {
    position: absolute;
    z-index: 10;
    bottom: 10rem;
    left: 12rem;
  }

}


