.product-overview {
    display: grid;
    grid-template-columns: $page-container;
    grid-template-rows: repeat(3, min-content);

    &__intro {
        grid-column: center-start / center-end;
        grid-row: 1 / span 1;
        width: 50%;
        padding: 3rem 0;
        &__bg {
            grid-row: 1 / span 1;
            grid-column: full-start / full-end;
            background-color: $color-grey-light-1;
            height: 100%;
            width: 100%;
        }

    }

    &__second {
        grid-column: center-start / center-end;
        grid-row: 2 / span 1;
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 6rem;
        margin: 3rem 0;
    
        &__text {
            grid-column: 2 / span 1;
        }
    
        &__img {
            grid-column: 1 / span 1;
            align-self: center;
            height: 30rem; 
            object-fit: cover;
            justify-self: end;           
        }
    }

    &__third {
        grid-column: center-start / center-end;
        grid-row: 3 / span 1;

        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 6rem;
        margin: 3rem 0;


        &__bg {
            grid-row: 3 / span 1;
            grid-column: full-start / full-end;
            background-color: $color-grey-light-1;
            height: 100%;
            width: 100%;
            display: none;
        }
    
        &__text {
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
        }
    
        &__highlights {
            grid-column: 2 / span 1;    
            font-size: 1.4rem;
            font-weight: 400;
            
            &__list {
                list-style: none;
                margin-top: 1.5rem;
                padding-left: 3rem;
                border-left: 1px solid $color-grey-light-2;
            }
    
            &__item {

                &:not(:last-child) {
                    margin-bottom: 1.4rem;
                }
    
            }
        }
      
    }



}





