.product-prices {
    display: grid;
    grid-template-columns: $page-container;
    grid-template-rows: minmax(35vh, min-content);
    position: relative;

    &::after {
        //intro background
        content: "";
        background-color: $color-grey-light-1;
        height: 100%;
        width: 100%;
        grid-column: full-start / full-end;
        grid-row: 1 / span 1;
        z-index: -10;
        border-bottom: 1px solid $color-grey-light-1a;
    }

    &__intro {
        grid-column: center-start / center-end;
        grid-row: 1 / span 1;
        width: 50%;
        padding: 3rem 0;
        padding-right: 5rem;
        display: grid;

        &__info-list {
            list-style: none;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
            &__item {
                color: $color-secondary;
                font-size: 1.5rem;
                letter-spacing: 0.03rem;
                font-weight: 600;
                display: grid;
                grid-template-columns: 15rem 1fr;

                //column-gap: 1rem;
                .list-info {
                    margin-left: 1rem;
                    color: $color-grey-2;
                }
            }
        }
    }

    //Note
    &__note {
        grid-column: center-start / center-end;
    }

    &__price-group {
        grid-column: full-start / full-end;

        display: grid;
        grid-template-columns: $page-container;
        grid-template-rows: repeat(2, min-content);
        overflow: hidden;
        &__picture {
            width: 30rem;
            height: 90%;
            grid-column: full-start / span 2;
            grid-row: 1 / -1;
            align-self: center;
            justify-self: end;

            img {
                object-fit: cover;
            }

            &--flipped {
                grid-column: col-start 6 / span 2;
                justify-self: start;
            }
        }

        &__name {
            grid-column: col-start 3 / center-end;
            margin-left: 5rem;
            grid-row: 1 / span 1;
            // width: 70%;
            //justify-self: start;

            @media only screen and (max-width: $bp-largest) {
                margin-left: 16rem;
            }
            @media only screen and (max-width: $bp-large) {
                margin-left: 20rem;
            }
            @media only screen and (max-width: $bp-medium) {
                margin-left: 24rem;
            }

            display: grid;
            grid-template-rows: repeat(2, min-content);
            align-items: center;
            column-gap: 3rem;

            &--flipped {
                margin-left: 0;
                grid-column: col-start 2 / center-end;
                justify-self: start;

                @media only screen and (max-width: $bp-medium) {
                    grid-column: center-start / center-end;
                }
            }

            &__length {
                font-size: 4rem;
                font-family: $font-secondary;
                color: $color-grey-light-2;
                letter-spacing: 0.2rem;
                grid-row: 1 / span 1;
            }
            &__subtitle {
                grid-row: 2 / span 1;
            }
        }

        &__card-group {
            grid-column: center-start / center-end;
            grid-row: 2 / span 1;

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
            column-gap: 6rem;
            row-gap: 6rem;
            margin-bottom: 6rem;
            justify-self: end;
            width: 80%;

            &--flipped {
                justify-self: start;
            }

            &__card {
                background-color: $color-white;
                width: 100%;
                position: relative;
                border: 10px solid transparent;
                box-shadow: inset 0px 0px 0px 2px rgba($color-secondary, 0.2), $shadow-light;
                box-sizing: border-box; /* Include padding and border in element's width and height */
                padding: 1rem 2rem;

                display: grid;
                grid-template-rows: min-content min-content;

                &__year {
                    justify-self: center;
                    font-size: 3rem;
                    padding: 1rem;
                    letter-spacing: 0.2rem;
                }
                &__season {
                    justify-self: center;
                    font-size: 1.4rem;
                    font-family: $font-secondary;
                    letter-spacing: 0.2rem;
                    padding-top: 1rem;
                    padding-bottom: 3rem;
                    font-weight: 300;
                    color: $color-grey-1;
                    width: 60%;

                    display: grid;
                    grid-template-columns: 1fr max-content 1fr;
                    align-items: center;
                    column-gap: 15px;

                    //lines on both sides effect
                    &::before {
                        content: "";
                        height: 1px;
                        display: block;
                        background-color: $color-grey-light-1a;
                    }

                    &::after {
                        content: "";
                        height: 1px;
                        display: block;
                        background-color: $color-grey-light-1a;
                    }
                }

                &__cabin-list {
                    display: grid;
                    justify-items: center;
                    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

                    &__item {
                        margin-bottom: 3rem;
                        font-size: 1.5rem;

                        &__cabin {
                            display: flex;
                            justify-content: center;
                            text-align: center;
                            color: $color-secondary;
                            font-weight: 500;
                            position: relative;
                            margin-bottom: 1rem;
                            display: inline-block;
                            &::after {
                                content: "";
                                height: 1px;
                                width: 100%;
                                background-color: $color-grey-light-1a;
                                position: absolute;
                                bottom: -0.5rem;
                                left: 0;
                            }
                        }

                        &__prices {
                            display: flex;
                            align-items: center;
                            flex-direction: column;

                            .single-info {
                                display: block;
                                font-size: 1.2rem;
                                font-style: italic;
                            }
                        }
                    }
                }
            }
        }
    }

    &__policies-divider {
        grid-column: center-start / center-end;
    }

    &__policies {
        grid-column: center-start / center-end;
        font-size: 1.4rem;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 4rem;

        @media only screen and (max-width: $bp-medium) {
            grid-template-columns: 1fr;
            margin: 0 4rem;

            &::after {
                content: "";
                position: absolute;
                bottom: 4rem;
                height: 1px;
                width: 70%;
                justify-self: center;
                background-color: $color-grey-light-1a;
            }
        }

        &__list-group {
            @media only screen and (max-width: $bp-medium) {
                margin-bottom: 5rem;
                & ul {
                    margin-left: 2rem;
                }
            }

            &__title {
            }

            &--overall {
            }

            &--first {
            }

            &--second {
            }
        }
    }
}
