.product-first {
    height: 40vh;
    width: 100%;

    background-color: $color-secondary;
    box-shadow: $shadow-bottom;
    position: relative;

    display: flex;
    flex-wrap: wrap;
    
    &__caption {
        color: $color-grey-light-1;
        width: 50%; // change with media query to 100% - min-width: 50rem;     
        padding-left: 10%;
        padding-right: 12rem;
        display: grid;
        grid-template-rows: 1fr 1fr [nav-start] min-content [nav-end];
        max-height: 100%;

        &__title {
            font-size: 6rem;
            font-weight: 300;
            letter-spacing: 0.3rem;
            display: block;
            align-self: end;
            max-width: 80%;
            
        }
        &__subtitle {
            font-size: 1.8rem;
            font-weight: 300;
            letter-spacing: 0.1rem;
            display: block;
            max-width: 80%;
        }

        
    }

    &__tabs {
        grid-column: 1 / -1;
        grid-row: 3/ span 1;
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: .3rem;
        text-transform: uppercase;
        align-self: center;
        margin-bottom: 1rem;
    
        &__list {
            display: grid;
            grid-auto-flow: column;
            list-style: none;
            justify-content: start;
            grid-gap: 4rem;
            align-content: start; 
            padding: 1rem 0;
      }
    
        &__item {
            
        }
    
        &__link:link,
        &__link:visited {
            text-decoration: none;
            transition: color .3s;
            color: $color-grey-light-1;
        }
    
        &__link:active,
        &__link:hover {
          color: $color-white;
        }
      }

    &__rotate {
        width: 50%; // change with media query to 100% - min-width: 50rem;          
    }

    &__slick {
        display: grid;
        align-items: center;
        height: 50vh;

        &__item {
            height: 50vh !important;
            width: 40rem !important;
            margin-right: 4rem !important;
            color: white; //text
            font-size: 2rem;
            position: relative;
            

            display: grid !important;

            img {
                grid-row: 1 / -1;
                grid-column: 1 / -1;
                align-self: center;
                height: 80%;
                width: 100%;
                object-fit: cover; //needs to set width and height
                display: block;
                z-index: 0;
                transition: all 0.5s;
            }

            &::after {
                content: "";
                position: absolute;
                align-self: center;
                height: 80%;
                width: 100%;
                opacity: 0;
                transition: all 0.4s;
                background-image: linear-gradient(to right, rgba($color-secondary, 0.6), rgba($color-secondary, 0.6));
            }
        }
    }
}

.product-slick-enlarge { //applied by js
    .product-first__slick__item {
        img {
            height: 100%;
        }
        &::after {       
            height: 100%;
            width: 100%;
            object-fit: cover; //needs to set width and height
        }
    }
}


.slick-slide:not(.slick-active) {
    .product-first__slick__item::after {
        opacity: 1;      
    }
}
