.product-itineraries {
    display: grid;
    grid-template-columns: $page-container;
    //grid-template-rows: 45vh;

    &__map {
        img {
            width: 40rem;
        }
    }

    &__intro {
        grid-column: center-start / center-end;
        grid-row: 1 / span 1;
        width: 50%;     
        margin-top: 3rem;
        //margin-bottom: 6rem;
        display: grid;
        grid-template-rows: min-content min-content;
        row-gap: 6rem;
        &__bg {
            grid-row: 1 / span 1;
            grid-column: full-start / full-end;
            background-color: $color-grey-light-1;
            height: 100%;
            width: 100%;
        }

        &__header {
            //font-family: $font-secondary;
            grid-row: 1 / span 1;
            grid-column: 1 / -1;
            
        }

        &__nav {
            grid-row: 2 / span 1;
            justify-self: start;
            align-self: end;
            &__list {
                list-style: none;
                display: grid;
                grid-auto-flow: column;
                margin-bottom: 1.5rem;
                column-gap: 4.5rem;

                & .current {
                    color: $color-secondary;
                    
                }
            }

            &__item{
                font-size: 1.4rem;
                font-weight: 500;
                position: relative;
                cursor: pointer;
                display: block;
                //font-family: $font-tertiary;
    
                transition: all .3s;

                &:hover {
                    color: $color-secondary;
                }
            }
        }
    }

    &__itinerary {
        grid-column: full-start / full-end;

        display: grid;
        grid-template-columns: $page-container;



    }

    &__day {
        grid-column: center-start / center-end;
        display: grid;
        grid-template-columns: 9rem 1fr;
        grid-template-rows: min-content min-content;
        column-gap: 3rem;
        padding-bottom: 5rem;

        &--first {
            margin-top: 9rem;
        }



        &::after {
            content: "";

            grid-row: 2 / span 1;
            grid-column: 1 / span 1;
            height: calc(100% + 5rem);
            width: 1px;
            background-color: $color-secondary;
            justify-self: center;
        }
        &__number {
            grid-column: 1 / span 1;
            grid-template-rows: 1 / span 1;
            align-self: center;
            justify-self: center;

            display: flex;
            justify-content: center;
            align-items: center;
            //line-height: 2;
            //background-color: $color-primary;
            color: $color-secondary;
            font-family: $font-secondary;
            font-size: 2rem;
            font-weight: 500;
            height: 6rem;
            width: 6rem;
            border-radius: 50%;
            border: 1px solid $color-secondary;
        }

        &__title {
            grid-column: 2 / span 1;
            grid-row: 1 / span 1;
            align-self: center;
            margin-bottom: 0;
        }

        &__text {
            grid-column: 2 / span 1;
            grid-row: 2 / span 1;

            font-size: 1.6rem;
        }
    }
}
