.product-overview {
    display: grid;
    grid-template-columns: $page-container;
    grid-template-rows: minmax(35vh, min-content);
    position: relative;

    &::after {
        //intro background
        content: "";
        background-color: $color-grey-light-1;
        height: 100%;
        width: 100%;
        grid-column: full-start / full-end;
        grid-row: 1 / span 1;
        z-index: -10;
        border-bottom: 1px solid $color-grey-light-1a;
    }
    &__intro {
        grid-column: center-start / center-end;
        grid-row: 1 / span 1;
        width: 50%;
        padding: 3rem 0;
        padding-right: 5rem;
    }
    &__description {
        grid-column: full-start / full-end;
        display: grid;
        grid-template-columns: $page-container;
        grid-template-rows: min-content min-content;
        position: relative;
        overflow-x: hidden;

        margin-top: 4rem;
        &__picture {
            grid-column: full-start / col-end 3;
            grid-row: 1 / span 1;
            display: flex;
            justify-self: end;
            max-width: 60rem;
            max-height: 40rem;
            position: relative;

            //overlay gradient  --subtle for title text
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 20rem;
                z-index: 1;
                background-image: linear-gradient(to top, rgba($color-secondary, 0.8), rgba($color-secondary, 0));
            }
            & img {
                //margin: 0 6rem;
                object-fit: cover;
                width: 100%;
                height: auto;
                box-shadow: $shadow-medium-short;
                z-index: 0;
            }

            &__title {
                font-size: 2rem;
                position: absolute;
                bottom: 2rem;
                left: 3rem;
                color: $color-white;
                z-index: 2;
              }
        }

        &__text {
            grid-column: col-start 5 / center-end;
            grid-row: 1 / span 2;
        }

        &__highlights {
            grid-column: center-start / center-col-end3;
            grid-row: 2 / span 1;
        }
    }
    &__third {
        grid-column: center-start / center-end;

        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 6rem;
        margin: 3rem 0;

        &__bg {
            grid-row: 3 / span 1;
            grid-column: full-start / full-end;
            background-color: $color-grey-light-1;
            height: 100%;
            width: 100%;
            display: none;
        }

        &__text {
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
        }

        &__highlights {
            grid-column: 2 / span 1;
            font-size: 1.4rem;
            font-weight: 400;

            &__list {
                list-style: none;
                margin-top: 1.5rem;
                padding-left: 3rem;
                border-left: 1px solid $color-grey-light-2;
            }

            &__item {
                &:not(:last-child) {
                    margin-bottom: 1.4rem;
                }
            }
        }
    }
}
