.product-areas {
  grid-column: full-start / -1;
}

.areas-slider {
  max-width: 114rem;
  margin: 0 auto;

  &__slider-for {
    width: 100%;
    .slick-slide {
      margin: 8rem 8rem;
      margin-top: 2rem;
    }
    &__item {
      height: 65vh;
      box-shadow: $shadow-medium-short;
      position: relative;

      //overlay gradient  --subtle for title text
      display: flex !important;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 20rem;
        z-index: 1;
        background-image: linear-gradient(to top, rgba($color-secondary, 0.2), rgba($color-secondary, 0));
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        background-position: center;
        z-index: 0;
      }

      &__title {
        font-size: 2rem;
        position: absolute;
        bottom: 2rem;
        left: 3rem;
        color: $color-white;
        z-index: 2;
      }
    }
  }

  &__slider-nav {
    color: $color-secondary;
    font-size: 1.6rem;
    
    & .slick-slide {
      outline: none; // this one
    }

    & .slick-current {
      color: $color-supporting-light ;
    }
    &__item {
      display: flex !important;
      justify-content: center;

      cursor: pointer;
      font-weight: 700;
      letter-spacing: 0.1rem;
      
      transition: all .5s;
      
     
    }
  }
}
