.product-itineraries {
    display: grid;
    grid-template-columns: $page-container;

    grid-template-rows: minmax(35vh, min-content);
    position: relative;

    &::after {
        //intro background
        content: "";
        background-color: $color-grey-light-1;
        height: 100%;
        width: 100%;
        grid-column: full-start / full-end;
        grid-row: 1 / span 1;
        z-index: -10;
    }

    &__intro {
        grid-column: center-start / center-end;
        grid-row: 1 / span 1;
        width: 50%;
        margin-top: 2rem;
        display: grid;

        padding-right: 5rem;

        display: grid;
        grid-template-rows: min-content min-content 1fr;

        row-gap: 2rem;

        &__info {
            grid-row: 1 / span 1;
            grid-column: 1 / span 2;
            &__starting-price {
                letter-spacing: 0.1rem;
                color: $color-secondary;
                font-size: 3rem;
                span {
                    color: royalblue;
                    padding-left: 1rem;
                }
            }

            &__length {
                color: $color-secondary;
                font-size: 1.8rem;
                span {
                    color: $color-grey-2;
                    padding-left: 1rem;
                }
                padding-bottom: 2rem;
                border-bottom: 1px solid $color-grey-light-2;
            }
        }

        &__cta {
            grid-row: 1 / span 1;
            grid-column: 2 / span 1;
            justify-self: end;
            align-self: center;
        }

        &__caption {
            grid-row: 2 / span 1;
            grid-column: 1 / span 2;
        }

        &__nav {
            grid-row: 3 / span 1;
            grid-column: 1 / span 2;
            justify-self: start;
            align-self: end;
            &__list {
                list-style: none;
                display: grid;
                grid-auto-flow: column;
                margin-bottom: 1.5rem;
                column-gap: 4.5rem;

                & .current {
                    color: $color-secondary;
                    font-size: 2.5rem;
                }
            }

            &__item {
                font-size: 1.4rem;
                font-weight: 500;
                position: relative;
                cursor: pointer;
                display: block;
                //font-family: $font-tertiary;
                align-self: end;
                transition: all 0.3s;
                //border-right: 2px solid red;

                &:not(:first-child)::after {
                    content: "";
                    width: 1px;
                    height: 2rem;
                    background-color: $color-grey-light-2;
                    //justify-self: end;
                    position: absolute;
                    left: -50%;
                    bottom: 0;
                    z-index: 3;
                }
                &:hover {
                    color: $color-secondary;
                }
            }
        }
    }

    //ITINERARY
    &__itinerary {
        grid-column: full-start / full-end;
        animation: fadein .8s;
        
        //display set by tab-content property
        grid-template-columns: $page-container;
        grid-template-rows: min-content min-content min-content;
        row-gap: 6rem;

        &__intro {
            grid-column: center-start / col-end 4;
            grid-row: 1 / span 1;
        }

        &__map {
            margin-left: 6rem;
            grid-column: col-start 5 / center-end;
            grid-row: 1 / span 1;

            position: relative;

            img {
                height: 30rem;
                object-fit: cover;
                display: block;
            }

            &__btn {
                position: absolute;
                top: 0;
                right: 0;
            }
        }

        &__page {
            color: $color-secondary;
            font-size: 2rem;
            grid-row: 1 / span 1;
            grid-column: col-start 5 / center-end;
            align-self: start;
            justify-self: end;
            padding-top: 2rem;
        }

        &__d2d {
            grid-column: center-start / col-end 4;
            grid-row: 2 / span 1;

            &__accordian-content {
                width: 100%;

                img {
                    grid-column: 1 / span 1;
                    width: 20rem;
                    object-fit: cover;
                    margin: 3rem 3rem 1rem 0;
                    float: left;
                }
                p {
                    width: 100%;
                    grid-column: 2 / span 1;
                }
            }

        }

        &__detail {
            grid-column: col-start 5 / center-end;
            grid-row: 2 / span 1;
            margin-left: 6rem;
            display: grid;
            grid-template-rows: repeat(2, min-content);

            &__availability {
                margin-bottom: 6rem;

                &__top-section {
                    display: flex;
                    justify-content: space-between;
                }
                
            }

            &__cabin-prices {
                //background-color: aqua;
                margin-bottom: 6rem;
            }

        }

        &__inclusions {
            grid-column: center-start / col-end 4;
            //grid-column: center-start / center-end;
            grid-row: 3 / span 1;
            display: grid;
            grid-template-rows: min-content min-content;
            margin-bottom: 6rem;
            margin-top: 2rem;

            &__tabs {
                grid-row: 1 / span 1;
                grid-template-columns: 1fr 1fr;
                font-size: 1.8rem;
                font-weight: 500;

                &__list {
                    display: grid;
                    grid-auto-flow: column;
                    list-style: none;  

                    & .current {
                        color: $color-secondary;
                        border-bottom: 1px solid $color-secondary
                   
                    }         
                }

                &__item {                
                    margin-bottom: 1.5rem;
                    border-bottom: 1px solid $color-grey-light-2;
                    width: 100%;
                    cursor: pointer;
                    transition: all .3s;
                    text-align: center;
                    &:hover{
                        border-bottom: 1px solid $color-secondary;
                        color: $color-secondary;
                    }

                }              
            }

            

            &__tab-pane {

                font-size: 1.2rem;
                animation: fadein .28s;
                         
                ul {
                    display: grid;
                    flex-wrap: wrap;
                    list-style: none;
                    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
                    
                    li {
                        display: flex;
                        align-items: top;                  
                        padding: .5rem 0;
                        padding-right: 1rem;
                        position relative

                        svg {
                            color: green !important; //??
                            margin-top: 3px;
                            
                        }
                        span {
                            margin-left: 1rem;
                        }

                    }
                }
  
            }
        }
    }  
}



//Price Grid
.price-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
    &__item {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        border: 1px solid $color-grey-light-2;
        padding: 1rem;
        color: $color-secondary;
        font-size: 1.4rem;
        text-align: center;


        &__cabin{
            margin-bottom: .3rem;
            font-weight: 500;
        }
        &__price {
            color: $color-grey-2;
        }
    }

    
}

//DATE GRID (ul)
.date-grid {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));

    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1rem;
   
    //width: 80%;

    &__item {
        margin: .5rem 1rem .5rem 0;
        //@extend: aqua;
        border-radius: 15px;
        border: 1px solid $color-grey-light-2;
        display: flex;
        align-content: center;
        justify-content: center;
        //cursor: pointer;

        &--available {
            color: $color-secondary;
            border-color: $color-secondary;
        }

        &--sold-out {
            color: $color-red;
            border-color: $color-red;
        }
    }
}



//accordian
.container {
    //margin: 0 auto;
    //padding: 4rem;
    //width: 48rem;
}

.accordion {
    .accordion-item {
        //padding: 1rem 0 ;
        border-bottom: 1px solid $color-grey-light-2;
        button[aria-expanded="true"] {
            border-bottom: 1px solid $color-primary;
        }
    }
    button {
        position: relative;
        display: block;
        text-align: left;
        width: 100%;
        padding: 2rem 0;
        color: $color-secondary;
        font-size: 1.15rem;
        font-weight: 400;
        border: none;
        background: none;
        outline: none;
        &:hover,
        &:focus {
            cursor: pointer;
            color: $color-primary;
            &::after {
                cursor: pointer;
                color: $color-primary;
                border: 1px solid $color-primary;
            }
        }
        .accordion-title {
            //padding: 2rem 2rem 2rem 0;
            padding-right: 3rem;
            font-size: 1.6rem;
            font-family: $font-primary;
        }
        .icon {
            display: inline-block;
            position: absolute;
            //top: 18px;
            right: 0;
            width: 22px;
            height: 22px;
            border: 1px solid;
            border-radius: 22px;
            &::before {
                display: block;
                position: absolute;
                content: "";
                top: 9px;
                left: 5px;
                width: 10px;
                height: 2px;
                background: currentColor;
            }
            &::after {
                display: block;
                position: absolute;
                content: "";
                top: 5px;
                left: 9px;
                width: 2px;
                height: 10px;
                background: currentColor;
            }
        }
    }
    button[aria-expanded="true"] {
        color: $color-primary;
        .icon {
            &::after {
                width: 0;
            }
        }
        + .accordion-content {
            opacity: 1;
            max-height: 40rem;
            transition: all 200ms linear;
            will-change: opacity, max-height;
        }
    }
    .accordion-content {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 200ms linear, max-height 200ms linear;
        will-change: opacity, max-height;
        p {
            font-size: 1.2rem;
            font-weight: 300;
            margin: 2em 0;
        }
    }
}
