.search-content {
    display: grid;
    grid-template-columns: 36rem 1fr;
    height: 100%;

    z-index: 3;
    
    &__sidebar {
        &__panel {
            background-color: $color-white;
            transform: translateY(-5rem);
            //border: 1px solid $color-grey-light-2;
            height: 70rem;

            border: 10px solid transparent;
            box-shadow: inset 0px 0px 0px 2px rgba($color-secondary, 0.2), $shadow-light;
            box-sizing: border-box; /* Include padding and border in element's width and height */
            padding: 1rem 2rem;

            &__input-group {
                display: flex;
                flex-direction: column;
                &__label {
                    font-size: 1.4rem;
                    letter-spacing: .2rem;
                    color: $color-secondary;
                    font-weight: 600;
                    padding: .5rem 0;
                    padding-top: 2rem;
                }

                &__input {

                 
               
                }
            }
        }
    }

    &__results {
        padding: 2rem 4rem;

        &__top-section {
           
            display: flex;
            justify-content: space-between;
            &__title {
                font-size: 2rem;
                letter-spacing: .2rem;
            }

            &__filter {
              z-index: 99;
              display: flex;
              align-items: center;

              & label {
                font-size: 1.4rem;
                font-weight: 600;
                letter-spacing: .2rem;
                color: $color-secondary;
                width: 14rem;
                text-align: right;
                padding-right: 1rem;
                
              }
               
            }

        }
        
        &__grid {
            margin: 3rem 0;
            grid-row:  2 / span 1;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
            grid-gap: 3rem;
            row-gap: 6rem;
        }

        &__bottom-section {
            margin-top: 8rem;
            text-align: center;
        }
    }


}

.select2-container--default {
  font-size: 1.4rem;
  font-family: $font-primary !important;
  letter-spacing: .2rem;
 
    &.select2-container--open.select2-container--above {
      .select2-selection--single, .select2-selection--multiple {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        
      }
    }
  
    &.select2-container--open.select2-container--below {
      .select2-selection--single, .select2-selection--multiple {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

      }
    }
  
    .select2-search--dropdown {
      .select2-search__field {
        border: 1px solid #aaa;
      }
    }
  
    .select2-search--inline {
      .select2-search__field {
        background: transparent;
        border: none;
        outline: 0;
      }
    }
  
    .select2-results > .select2-results__options {
      max-height: 200px;
      overflow-y: auto;
    }
  
    .select2-results__option {
      &[role=group] {
        padding: 0;
      }
  
      &[aria-disabled=true] {
        color: #999;
      }
  
      &[aria-selected=true] {
        background-color: #ddd;
      }
  
      .select2-results__option {
        padding-left: 1em;
  
        .select2-results__group {
          padding-left: 0;
        }
  
        .select2-results__option {
          margin-left: -1em;
          padding-left: 2em;
  
          .select2-results__option {
            margin-left: -2em;
            padding-left: 3em;
  
            .select2-results__option {
              margin-left: -3em;
              padding-left: 4em;
  
              .select2-results__option {
                margin-left: -4em;
                padding-left: 5em;
  
                .select2-results__option {
                  margin-left: -5em;
                  padding-left: 6em;
                }
              }
            }
          }
        }
      }
    }
  
    .select2-results__option--highlighted[aria-selected] {
      background-color: $color-secondary;
      color: white;
    }
  
    .select2-results__group {
      cursor: default;
      display: block;
      padding: 6px;
    }

    
  }