.header {
    grid-column: full-start / -1; 
    grid-row: nav-start / nav-end; 
    z-index: 5;
    
    
    background-color: rgba($color-white, .1);
    //background-color: transparent;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);

    height: min-content;
    font-size: 1.4rem;
    column-gap: 5rem;
    display: grid;
    grid-template-columns: min-content min-content 1fr max-content;
    align-content: center;
    align-items: center;

    grid-template-rows: min-content min-content;
    transition: all .4s;

    &__logo {
        margin-left: 7rem;
        height: 4.5rem;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        transition: all .4s;
        z-index: 9;

        &--color {
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
            z-index: 10;
            transition: all .4s;
            opacity: 0;
            height: 4.5rem;
            margin-left: 7rem;
        }
    }

    &--active {
        background-color: rgba($color-white, .6);

        & .header__logo {
            opacity: 0;

            &--color {
                opacity: 1;
            }
        }
        
        & .nav-mega {
            display: grid;
        }

        & .nav-main__link:link,
        & .nav-main__link:visited {
            color: $color-secondary;
        }
        & .nav-main__link:hover,
        & .nav-main__link:active {
            color: $color-white;
        }

        & .nav-right__phone {
            color: $color-secondary;
        }

        & .nav-right__link:link,
        & .nav-right__link:visited {
            color: $color-secondary;
        }
        & .nav-right__link:hover,
        & .nav-right__link:active {
            color: $color-white;
        }


    }

}

