.overview{
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 12rem 0 0 0;

    &__content{
        background-color: $color-white;
        display: grid;
        padding: 12rem 14rem;

        grid-template-rows: 1fr minmax(9rem, min-content) minmax(16rem, min-content) 1fr;
        justify-content: center;   

        &__pretitle{
            font-size: 1.5rem;
            text-transform: uppercase;
            align-self: flex-end;
        }

        &__title {
            font-size: 3rem;
            font-weight: 400;
            text-transform: uppercase;
            color: $color-secondary;

        }
        &__text {
            font-size: 1.6rem;
        }
        &__btn {
            align-self: start;
            justify-self: start;

            background-color: $color-secondary;
            color: $color-grey-light-2;
            padding: 1.3rem 4rem;
            border-radius: 4px;
            border: none;
    
            cursor: pointer;
            transition: all .2s;
        
            &:hover {
                background-color: $color-secondary-light;
            }
            
        }
    }

    &__imagery {
        display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 3rem;

        &__display{
            background-image: url(img/river-cruise.jpg);
            background-position: center;
            background-size: cover;
            box-shadow: $shadow-light;
        }

        &__next {
            background-image: linear-gradient(rgba($color-white, .7), rgba($color-white, .7)), url(img/galapagos-home-square-1.jpg);

            background-position: left;
            background-size: cover;
            box-shadow: $shadow-light;
        }
    }
}