.products {
    //grid-column: center-start / center-end;
    display: grid;
    grid-template-rows: repeat(2, min-content);
    margin: 6rem 0;
    &__top {
        grid-row: 1 / span 1;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        
        grid-template-columns: 1fr 1fr;

        &__title {
            grid-row: 2 / span 1;

            text-transform: uppercase;

            font-size: 2.5rem;
            color: $color-secondary;
            letter-spacing: .3rem;
            font-weight: 400;
            &::after {
                content: "";
                height: 2px;
                width: 12rem;
                display: block;
                background-color: $color-grey-light-2;
                margin: 1.5rem 0;
                z-index: 9;
              }
        }

        &__subtitle {
            grid-row: 1 / span 1;
            letter-spacing: .15rem;
            font-size: 1.4rem;
            align-self: end;
            text-transform: uppercase;
        }

        &__view-all {
            font-size: 1.6rem;
            align-self: end;
            justify-self: end;
            grid-row: 2 / span 1;
            margin-bottom: 1rem;
            border-bottom: 1px solid $color-grey-light-2;
            letter-spacing: .1rem;
        }
    }

    &__grid {
        margin: 3rem 0;
        grid-row:  2 / span 1;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 3rem;
        row-gap: 6rem;
    }

}

.product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;

    &__img{
        width: 100%;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        z-index: 1;
        padding-bottom: 1.4rem;
    }

    &__like{
        fill: $color-secondary;
        grid-row:  1 / 2;
        grid-column: 2 / 3;
        height: 2.5rem;
        width: 2.5rem;
        z-index: 2;
        justify-self: end;
        margin: 1rem;
    }

    &__type {
        font-size: 1.6rem;
        color: $color-secondary;
    }

    &__price {
        font-size: 1.6rem;
        color: $color-green;
        justify-self: end;
    }

    &__name {
        font-size: 2.5rem;
        color: $color-secondary;
        grid-column: 1 / -1;
        grid-row: 3 / span 1;
    }

    &__length {
        font-size: 1.6rem;
        grid-row: 4 / span 1;
    }

    &__rating {
        font-size: 1.6rem;
        color: $color-secondary;
        justify-self: end;
        grid-row: 4 / span 1;
        grid-column: 2 / span 1;
    }

    // &__location,
    // &__rooms {
    //     margin-top: 2.5rem;
    // }

    // &__location,
    // &__rooms,
    // &__area,
    // &__price {
    //     font-size: 1.5rem;
    //     margin-left: 2rem;

    //     display: flex; //makes side by side
    //     align-items: center;
        
    //     svg {
    //         fill: $color-primary;
    //         height: 2rem;
    //         width: 2rem;
    //         margin-right: 1rem;
    //     }

    //     p {

    //     }
    // }

    &__btn {
        grid-column: 1 / -1;
    }
}