.sites {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, min-content) ;

    &__top {
        grid-row: 1 / span 1;
        padding: 8rem 14rem; 
        display: grid;     
        grid-template-columns: minmax(40rem, max-content) max-content;   

        &__title{
            grid-column: 1 / span 1;
        }
        &__count{
            grid-column: 2 / span 1;
        }
    }

    &__rotate {
        grid-row: 2 / span 1;
        box-shadow: $shadow-light;
    }



    &__slick {
        &__item {    
          position: relative;
      
          transform: translateX(10vw); 
          height: 60vh;
      
        
          display: grid !important;
          grid-template-rows: 8fr 1fr;
          grid-template-columns: 1fr 1fr;
          column-gap: 10rem;
          
          img {
            grid-row: 1 / -1;
            grid-column: 1 / -1;
            height: 100%;
            width: 100%;  
            object-fit: cover; //needs to set width and height
            display: block;
            z-index: 0;
      
            //background-image: linear-gradient(rgba($color-secondary, .5), rgba($color-secondary, .5));
          }
      
          &__overlay {
            grid-row: 1 / -1;
            grid-column: 1 / -1;
            height: 100%;
            width: 100%;  
            object-fit: cover; //needs to set width and height
            display: block;
            z-index: 1;
            background-image: linear-gradient(to top, rgba($color-secondary, .5), rgba($color-secondary, .2));

            &::after{
              content: "";
              grid-row: 1 / -1;
              grid-column: 1 / -1;
              height: 100%;
              width: 100%;  
              object-fit: cover; 
              display: block;
              z-index: 2;            
              background-image: linear-gradient(to top, rgba($color-secondary, .6), rgba($color-secondary, .6));
              opacity: 0;
              transition: opacity 1s;
            }
          }
      
          &__title {
            grid-row: 1 / span 1;
            grid-column: 1 / span 1;
            align-self: end;
            margin-left: 8rem;
            color: $color-grey-light-1;
            z-index: 9;
          }
      
          &__caption {
            grid-row: 1 / span 1;
            grid-column: 2 / span 1;
            align-self: end;
            color: $color-grey-light-1;
            font-size: 2.5rem;
            z-index: 9;
            width: 50%;
      
            &__title::after {
              content: "";
              height: 1px;
              width: 100%;
              display: block;
              background-color: $color-grey-light-1;
              margin: 1rem 0;
              z-index: 9;
            }
      
            p {
              font-size: 1.5rem;
            }
          }
      
        }     
      }  
}

//when adding this class, transition pseudo overlay to 0 opacity test
.sites__side-overlay .sites__slick__item__overlay { 
  &::after{
    opacity: 1;

  }
}

