.slider { 
    height: 100%;
    background-image: linear-gradient(
        to bottom,
        rgba(black, 0.4),
        transparent 20%
      ), linear-gradient(to top, rgba($color-black, .3), rgba($color-black, .1)),url("img/slider-images/peru-01.jpg");
      background-position: center;
      background-size: cover;


      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-top: 25rem;
      align-items: center;
      color: $color-grey-light-1;


      &__title {

        padding: 12rem;
        display: block;
        &--large {
            font-family: $font-primary;
            font-size: 6rem;
            font-weight: 300;
            line-height: 8rem;
            letter-spacing: 1rem;
            text-transform: uppercase;

        }

        &--subtext {
            font-size: 2rem;
            font-weight: 300;
            letter-spacing: .6rem;
            text-transform: uppercase;
        }
      }

      

      &__form {
          display: grid;
          width: 80%;
          grid-template-columns: 2fr 1fr ;
          column-gap: 3rem;
      }


      &__form-group {

        padding-bottom: 2.5rem;

      }

      &__input {
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border-radius: 4px;
        background-color: rgba($color-white, 0.6);
        color: $color-secondary;
        width: 100%;

        border: none;
        font-family: inherit; //fonts wont apply to form element unless you set manually like here
        display: block;
        box-shadow: 0 1rem 2rem rgba($color-secondary, 0.3);

      }

      &__label {
        font-size: 1.8rem;
        letter-spacing: .2rem;
        padding-bottom: 1rem;
        font-weight: 200;
        display: block;
        transition: all 0.3s;

      }

      &__button {
        background-color: $color-secondary;
        color: $color-grey-light-2;
        padding: 1.3rem 4rem;
        border-radius: 4px;
        border: none;

        cursor: pointer;
        transition: all .2s;
    
        &:hover {
            background-color: $color-secondary-light;
        }
      }


    //   &__select {
       
    //   }



}


