//Buttons
.btn-round {
  width: 7rem;
  height: 7rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: 0.1rem solid rgba($color-white, 0.6);
  border-radius: 50%;
  color: rgba($color-white, 0.6);
  font-size: 1.2rem;
  font-weight: 100;
  cursor: pointer;

  
  svg:nth-child(1) { 
    position: absolute;
    color: transparent;
    transition: all .5s;
  }
  svg:nth-child(2) {
    color: rgba($color-white, 0.6);
    transition: all .5s;
  }

  &:hover {
    svg:nth-child(1) {
      transform: translateX(0);
      color: rgba($color-white, 0.6);
    }
    svg:nth-child(2) {
      color: transparent;
    }
  }

  //dark
  &--dark {
    border: 0.1rem solid rgba($color-secondary, .8);
    color: rgba($color-secondary, .8);

    svg:nth-child(2) {
      color: rgba($color-secondary, .8);
    }
    &.btn-round:hover {
      svg:nth-child(1) {
        color: rgba($color-secondary, .8);
      }
    }
  }

    //grey
    &--grey {
      border: 0.1rem solid rgba($color-grey-2, .8);
      color: rgba($color-grey-2, .8);
  
      svg:nth-child(2) {
        color: rgba($color-grey-2, .8);
      }
      &.btn-round:hover {
        svg:nth-child(1) {
          color: rgba($color-grey-2, .8);
        }
      }
    }

  //small
  &--small {
    width: 3rem;
    height: 3rem;
  }

  &--medium {
    width: 4.5rem;
    height: 4.5rem;
  }


  //left / right
  &--left {
    svg:nth-child(1) {
      transform: translateX(2rem);
    } 
    &:hover {
      svg:nth-child(1) {
        transform: translateX(0);
      }
    }
  }

  &--right {
    svg:nth-child(1) {
      transform: translateX(-2rem);
    } 
    &:hover {
      svg:nth-child(1) {
        transform: translateX(0);
      }
    }
  }


  //wide slider buttons
  &--slider-wide-left {
    position: absolute;
    top: 45%;
    left: 3%;
    z-index: 8;

  }

  &--slider-wide-right {
    position: absolute;
    top: 45%;
    right: 3%;
    z-index: 8;
    
  }


  //product showcase
  &--product-nav-left {
    position: absolute;
    top: 0%;
    left: -6rem;
    z-index: 8;     
  }

  &--product-nav-right {
    position: absolute;
    top: 0%;
    right: 0;
    z-index: 8;  
  }

}


.btn {
  background-color: $color-primary;
  color: #fff;
  border: none;
  border-radius: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s;

  &:hover {
      background-color: $color-primary-dark;
  }
}


.btn-product-cta {
  background-color: royalblue;
  color: $color-grey-light-1;
  border: none;
  border-radius: 4rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all .2s;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-items: center;


  &:hover {
      background-color: $color-primary-dark;
  }
}





