%heading {
    font-family: $font-primary;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;

    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-weight: 300;
}

.heading-2 {
    @extend %heading;
    font-size: 3rem;
    //font-style: italic;
    color: $color-secondary;
    margin-bottom: 2rem;

    &--light {
        color: $color-grey-1;
    }

    &--dark {
        color: $color-grey-2;
    }
}

.heading-3 {
    @extend %heading;
    margin-bottom: 1.5rem;
    font-weight: 500;
    font-size: 2.5rem;
    color: $color-secondary;
    display: inline-block;

    &--underline {
        &::after {
            content: "";
            height: 2px;
            width: 50%;
            display: block;
            background-color: $color-grey-light-2;
            margin: 1.5rem 0;
            z-index: 9;
        }
    }
}

.heading-4 {
    @extend %heading;
    font-size: 1.8rem;
    font-weight: 500;
    color: $color-secondary;
}

.heading-5 {
    @extend %heading;
    font-size: 1.6rem;
    font-weight: 600;
    color: $color-grey-1;
    letter-spacing: 0.2rem;
}

//Margins
.mb-sm {
    margin-bottom: 2rem;
}

.mb-md {
    margin-bottom: 3rem;
}

.mb-lg {
    margin-bottom: 4rem;
}

.mb-hg {
    margin-bottom: 8rem;
}

//Paragraph
p {
    font-size: 1.6rem;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

.attention-box {
    text-align: center;
    margin: 4rem;
    padding: 4rem 6rem;
    font-family: $font-secondary;
    border: 1px solid $color-grey-light-1a;
    letter-spacing: 0.15rem;
    font-size: 1.4rem;

    ul {
        margin: 0 5rem;
    }
    li {
        text-align: start;
        font-family: $font-primary;
        font-size: 1.2rem;
        padding: 1rem;
    }

}

.page-divider {
    grid-column: center-start / center-end;
    text-align: center;
    padding: 0 6rem;
    margin: 4rem 0;

    font-family: $font-secondary;
    color: $color-grey-light-2;
    font-size: 4rem;
    letter-spacing: 0.3rem;
    font-weight: 300;

    display: grid;
    grid-template-columns: minmax(6rem, 1fr) minmax(min-content, max-content) minmax(6rem, 1fr); //FIX THIS
    align-items: center;
    column-gap: 25px;

    @media only screen and (max-width: $bp-medium) { 
        font-size: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 2rem;
        letter-spacing: 0.1rem;
      }

    //lines on both sides effect
    &::before {
        content: "";
        height: 1px;
        display: block;
        background-color: $color-grey-light-1a;
    }

    &::after {
        content: "";
        height: 1px;
        display: block;
        background-color: $color-grey-light-1a;
    }
}

.list-svg {
    display: grid;
    list-style: none;
    row-gap: 1rem;

    li {
        display: grid;
        grid-template-columns: min-content 1fr;

        svg {
            margin-top: 2px;
            height: 1.8rem;
            width: 1.8rem;
            fill: $color-secondary;
        }

        span {
            margin-left: 1rem;
        }
    }
}

.link-social {
    svg {
        margin-top: 2px;
        height: 1.8rem;
        width: 1.8rem;
        fill: $color-grey-light-2;
        transition: all 0.2s;
        &:hover {
            fill: $color-white;
        }
    }
}

//Icon Outline Button
.badge {
    color: $color-grey-light-2;
    background-color: transparent;
    padding: 1rem 2rem;
    border: none;
    margin: 0.5rem;
    letter-spacing: 0.1rem;
    outline: none;
    font-size: 1.5rem;
    font-weight: 400;
    position: relative;
    display: inline-block;

    &::after {
        content: "";
        transition: all 0.15s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        height: 100%;
        width: 100%;
        border-radius: 2.5rem;
        border: 1px solid currentColor;
    }

    &--small {
        padding: 0.75rem 1.15rem;
        font-size: 1.2rem;
    }

    &--dark {
        color: $color-secondary;
    }
}

.drop-cap-1 {
    p:first-child:first-letter {
        font-size: 400%;
        border: 1px solid #d4d5d7;
        padding: 0 2rem;
        display: inline-block;
        top: 0px;
        float: left;
        line-height: 1;
        margin-right: 1rem;
        font-weight: 300;
    }
}

.drop-cap-2 {
    p:first-child:first-letter {
        font-weight: 400;
        font-size: 5em;
        float: left;
        line-height: 0.5;
        margin-top: -0.08em;
        margin-left: -0.02em;
        margin-right: 0.05em;
    }
}

.drop-cap-3 {
    p:first-child:first-letter {
        font-weight: 400;
        font-size: 5em;
        float: left;
        line-height: 0.6;
        margin-top: 0.10em;
        margin-left: -0.02em;
        margin-right: 0.07em;
        margin-bottom: -0.07em;
    }

    // p:first-child:first-line {
    //     font-weight: 600;
    // }
}
