.search-page {
  display: grid;
  grid-row: content-start / content-end;
  grid-column: 1 / -1;

  grid-template-rows:
    [nav-start] 40vh [hero-end content-start]
    repeat(5, [row-start] min-content [row-end]) [content-end footer-start] min-content [footer-end];

  grid-template-columns: $page-container;

  position: relative;
  z-index: 0;
  
  &__section-hero {
    grid-row: nav-start / hero-end;
    grid-column: full-start / -1;
    background-color: $color-black;
    z-index: 1;
  }

  &__section-content {
    grid-column: full-start / -1;
    grid-row: content-start / span 1;
    width: 100%;
    padding: 0 10%;
    justify-self: center;
    background-color: $color-white;
    z-index: 2;

  }
}
 