.home-hero {
    //overflow-x: hidden;
    display: grid;
    grid-template-columns: $page-container;
    grid-template-rows: 45vh min-content 1fr;
    //background-image: url(img/slider-images/peru-01.jpg);

    height: 100%;
    width: 100%;

    position: relative;
    z-index: 0;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;

        background-image: linear-gradient(to bottom, rgba(black, 0.3), transparent 20%),
        linear-gradient(to top, rgba(black, 0.3), transparent 30%),
        linear-gradient(to top, rgba(black, 0.2), rgba(black, 0.2));    
    }

    &__bg {
        grid-column: 1 / -1;
        grid-row: 1 / -1;

        background-position: center center;
        background-repeat: no-repeat;
        object-fit: cover;

        height: 100%;
        width: 100%;
        z-index: 0;
        z-index: 1;
    }

    &__caption {
        grid-row: 2 / span 1;
        grid-column: center-start / center-end;
        z-index: 5;
        color: rgba($color-grey-light-1, .95);
       

        display: flex;
        flex-direction: column;

        &__title {
            font-size: 3rem;
            text-align: center;
            font-family: $font-secondary;
            letter-spacing: .5rem;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 5.5rem;
        }

        &__subtitle {
            font-size: 1.6rem;
            text-align: center;
            letter-spacing: .2rem;
            font-weight: 300;
            margin-bottom: 1.8rem;
        }

        &__arrow {
            display: flex;
            justify-content: center;
           
        }

    }

    &__search {
        grid-row: 3 / span 1;
        grid-column: center-start / center-end;
        //background-color: rgba(royalblue, .5);

        z-index: 5;
        height: 15rem;
        align-self: end;

        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 6rem;

        &__form {
            border: 1px solid rgba($color-white, .6);
            color:  rgba($color-white, .6);
            //width: 90rem;
            height: 7rem;
            display: grid;
            grid-template-columns: 1fr 1fr 15rem;

            transition: all .2s;


            &__form-group {
                display: flex;
                align-content: center;

                &__icon {
                    display: flex;
                    align-items: center;
                    margin-left: 4rem;
                    margin-right: 2rem;
                    & svg {
                        fill: rgba($color-white, .6);
                        height: 2.5rem;
                        width: 2.5rem;
                    }
                }

                &__input-group {
                    display: flex;
                    flex-direction: column;
                    align-self: center;

                    &__label {
                        letter-spacing: .2rem;
                        font-size: 1.1rem;
                        margin-bottom: .3rem;
                    }
                    &__input {

                      
                        letter-spacing: .2rem;
                        background-color: transparent;
                        border: none;
                        outline: none;
                        width: 30rem;
                        
    
                        &::placeholder {
                            color:  rgba($color-white, .6);
                            font-family: $font-primary;
                            letter-spacing: .1rem;
                            font-size: 1.6rem;
                            font-weight: 500;
                            transition: all .2s;
                        }

                        
                        &:focus {
                            &::placeholder {
                                color:  rgba($color-white, .8);
                            }
                        }

                  
                        &, textarea {
                            color:  rgba($color-white, .8);
                            font-family: $font-primary;
                            letter-spacing: .1rem;
                            font-size: 1.6rem;
                            font-weight: 500;
                        }
                    }
                }

               
            }

            &__btn {
                border: none;
                background-color: rgba($color-white, .1);
                color: rgba($color-white, .6);

                border-left: 1px solid rgba($color-white, .3);
                outline: none;
                cursor: pointer;

                transition: all .2s;
                font-family: $font-primary;
                letter-spacing: .2rem;
                text-transform: uppercase;
                font-size: 1.32rem;

                &:hover {
                    background-color: rgba($color-white, .3);
                    color: rgba($color-white, .8);
                }

                &:active {
                    background-color: rgba($color-white, .6);
                    color: rgba($color-white, .8);
                }
            }
        }
    }
}

.ui-autocomplete {
    position: absolute;
    top: -5rem;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 32px 0 0;
    list-style: none;
    font-size: 24px;
    text-align: left;
    background-color: rgba($color-white, .1);
    border: 1px solid #cccccc;

    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;

    color: rgba($color-white, .8);

  }
  
  .ui-autocomplete > li > div {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: rgba($color-white, .8);
    white-space: nowrap;
  }
  
